<template>
<div>
    <h2>{{detail.name}}</h2>
    <div class="info-wrapper">
        <v-row>
        <img :src="require('../assets/images/' + detail.image)" class="info-wrapper__img">
        <div class="info-wrapper__container" >
            <p class="info-wrapper__price">{{detail.price}} руб.</p>
            <div class="info-wrapper__buy-wrapper">
                <!-- <form id="buy-product" action="{% url 'delivery:basket_adding' %}" class="info-wrapper__form"> -->
                    <!-- {% csrf_token %} -->
                    <!-- <input type="number" name="number" id="number">
                    <button type="submit" id="submit-btn" class="info-wrapper__btn">В корзину</button>
                </form> -->
                <v-form>
                    <v-text-field
                        v-model="numberValue"
                        hide-details
                        single-line
                        type="number"
                        />
                    <v-btn
                        color="#FCBA06"
                        elevation="2"
                        class="basket-btn"
                    >
                        В корзину
                    </v-btn>
                </v-form>
            </div>
            <p class="info-wrapper__description">{{ detail.description }}</p>
        </div>
        </v-row>
        
        <v-container>
            <v-list three-line>

            <v-list-item>
            <v-list-item-avatar>
            <v-img :src="require('../assets/ava.png')"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
            <v-list-item-title>Стасян</v-list-item-title>
            <v-list-item-subtitle>Все очень вкусно и ресторан хороший</v-list-item-subtitle>
            </v-list-item-content>
            </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-form class="mt-6" ref="commentForm" lazy-validation>
            <v-textarea
            counter
            name="inputTextComment"
            :rules="commentRules"
            outlined
            label="Введите текст комментария"
            auto-grow
            clearable
            clear-icon="mdi-delete"
            ></v-textarea>

            <v-btn
            color="#FCBA06"
                elevation="2" class="mr-4">
            Отправить
            </v-btn>

            </v-form>
            </v-container>
    </div></div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
    // props: [
    //     'id'
    // ],
    data() {
        return {
            item: {},
        }
    },
    // computed: mapGetters(['detail']),
    computed: {
        detail() {
            return this.$store.getters.getById(this.id)
        },
        
        id() {
            console.log(11111);
            return this.$route.params.id;
        },
    },
    methods: mapActions(['fetchProds']),
    async mounted() {
        // this.fetchProds();
        this.$store.dispatch('fetchProds');
        console.log(this.$route.query.id);
    }
}
</script>

<style>
h2 {
    font-size: 30px;
    margin: 50px auto;
    text-align: center;
}
.basket-btn {
    margin: 20px 0;
}
.info-wrapper {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    gap:  50px;
}

.info-wrapper__price {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* .info-wrapper__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.form-wrapper__btn, .info-wrapper__btn {
    border: 2px solid black;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
}

.form-wrapper__btn:hover, .info-wrapper__btn:hover {
    transition: .3s;
    background-color: black;
    color: white;
}

.info-wrapper__description {
    margin: 40px 0;
    max-width: 400px;
    width: 100%;
}

.form-wrapper input, .info-wrapper input {
    border-radius: 0;
    height: 40px;
    max-width: 270px;
    width: 100%;
}
</style>