<template>
<div>
    <h2>Ресторан Экспромт</h2>
    <div class="forms">
        <form action="" class="sort"><p>Сортировка по цене</p>
            <label>
                <select v-model="selectedItem" @change="doSort()">
                    <option disabled>Выберите один из вариантов</option>
                    <option :value="1">По возрастанию цены</option>
                    <option :value="2">По убыванию цены</option>
                </select>
            </label>
        </form>
        <form action="" class="filter"><p>Фильтр по цене</p>
            <label>Мин. цена: <input class="search" type="text" v-model="min"></label>
            <label>Макс. цена: <input class="search" type="text" v-model="max"></label>
            <v-btn @click="filter([min, max])" color="#FCBA06"
                elevation="2" class="mr-4">Применить</v-btn>
        </form>
    </div>
    <div class="dish-wrapper">
        <div class="" v-for='prod in $store.getters.allProds' :key="prod.id">
            <router-link class="link" @click.native="linkMethod(prod.id)" :to="`/product/${prod.id}`">
    <v-card
        :loading="loading"
        class="mx-auto my-12"
        max-width="300"
    >
        <template slot="progress">
        <v-progress-linear
            color="deep-purple"
            height="10"
            indeterminate
        ></v-progress-linear>
        </template>
        <v-img
        height="250"
        :src="require('../assets/images/' + prod.image)"
        ></v-img>
        <v-card-title>{{prod.name}}</v-card-title>
        <v-card-text>
        <div class="card-price">{{prod.price}} ₽</div>
        <div class="card-desc">{{prod.description}}</div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-actions>
        <v-btn
            color="#FCBA06"
            elevation="2" class="mr-4"
        >
            В корзину
        </v-btn>
        </v-card-actions>
    </v-card>
            </router-link>
        </div>
    </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex';

export default ({
    name: 'App',
    data() {
        return {
            allProds: {},
            selectedItem: null,
            min: 0,
            max: 100000,
        }
    },
    computed: {
        getProds() {
            return this.sortItems()
        },
    },
    // mapGetters(['allProds']),
    methods: {
        ...mapActions(['fetchProds', 'filter']),
        sort1() {
            this.$store.commit('sortAscending')
        },
        sort2() {
            this.$store.commit('sortDescending')
        },
        doSort() {
            console.log(this.selectedItem);
            if (this.selectedItem == 1) {
                this.sort1()
            } else {
                this.sort2()
            };
        },
        getValues() {
            if (this.min >= 0 && !isNaN(this.min) && !isNaN(this.max) && this.max > this.min){
                // console.log(this.max);
                this.$store.commit('filterProds', [this.min, this.max])
            };
        },
        linkMethod(id) {
            router.push({ path: '/product/', query: { id: id }})
        }
        },
    async mounted() {
        this.fetchProds();
        this.allProds = this.$store.getters.allProds;
    }
})
</script>

<style>
main {
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
}

.card-desc {
    min-height: 100px;
    height: 100%;
    margin-top: 10px;
}

.card-price {
    color: black;
    font-size: 20px;
}

.sort p {
    font-size: 20px;
}

.filter label {
    margin-right: 30px;
}

.filter p {
    font-size: 20px;
    margin-top: 20px;
}

.dish-wrapper {
    min-height: 300px;
    max-width: 1050px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    padding: 0 30px;
}

.forms {
    margin: 50px auto;
    max-width: 965px;
    width: 100%;
    padding: 0 30px;
}

select, .search {
    margin: 25px auto;
    padding: 7px 40px 7px 12px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #220000;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

.search {
    max-width: 200px;
}

select:required:invalid, .search:required:invalid {
    color: #5a667f;
}
select:focus, .search:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
@media print{
	li {
		page-break-inside: avoid;
	}
}
</style>